@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.header {
  display: flex;
  background-color: transparent;
  background: none !important;
  position: fixed;
  width: 100vw;
  top: 0;
  margin-top: 30px;
  align-items: center;
  height: 60px;
  margin-left: 1vw;
  margin-right: 1vw;
  z-index: 100;
}

.header_menu {
  display: flex;
  justify-content: flex-start;
  margin-right: 1vw;
  margin-top: 0.5vw;
}

.header_menu > .MuiSvgIcon-root {
  font-size: 40px !important;
  font-weight: 100 !important;
  color: grey !important;
}

.header_sidebar {
  width: 17.5rem;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -26rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  inset-inline: 1000;
  transition: all 650ms ease-in-out;
  list-style: none;
  text-transform: uppercase;
}

.header_menu:hover > .header_sidebar {
  left: 0;
}

.header_sidebar > li {
  height: 40px;
}

.header_sidebar > li:first-child {
  margin-top: 8.5rem;
}

.header_sidebar > li:nth-child(5) {
  margin-top: 3rem;
}

.header_sidebar > li:last-child {
  margin-top: 5rem;
}

.header_sidebar > li > p {
  font-size: 36px;
  font-weight: 700;
}

.header_sidebar > li:last-child > p {
  font-size: 16px;
  font-weight: 100;
}

.header_logo {
  /*height: 24px;*/
  width: 100px;
  margin-top: 7px;
}

.header_logo > img {
  height: 60px;
  /*width: 100px;*/
}

.header_center {
  flex: 1;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.header_center > p {
  margin: 10px;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
}

.header_center > span {
  height: 30px;
  width: 150px;
  border-bottom: 1px solid black;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
  font-size: smaller;
  font-weight: 100;
}

.header_option > span {
  margin: 10px;
  text-transform: uppercase;
}

.header_optionBasket {
  align-items: center;
  display: flex;
  padding-top: 0;
  margin-right: 2vw;
  position: relative;
}

.basket_icon > .MuiSvgIcon-root {
  font-size: 2.5rem !important;
  font-weight: 100 !important;
}

.header_basketCount {
  position: absolute;
  right: 50%;
  left: 37.7%;
  font-size: 16px;
}
